.AppMessage{
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: none;
    background-size: cover;
    background-color: lightblue;
}

.containerApp {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .containerApp::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .containerApp img {
    float: left;
    width: 50px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .containerApp img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }


  .keyboardContainer {
    width: 300px;
    margin: auto;
    text-align: center;
  }

  .keyboardContainer input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
  }

  #special button{ 
    width: 100px;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    gap: 5px;
  }

  .keyboardContainer button {
    justify-content: space-around;
    width: 30px;
    height: 30px;
  }