#container {
    padding-top: 120px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.new-div {
    margin-bottom: 10px;
    background-color: rgba(169, 169, 169, 0.5);
    width: 280px;
    height: 80px;
    border-radius: 20px;
    color: #fff;
    display: flex;
    text-align: center;
}

.new-div i {
 font-size: 30px;
 padding-top: 25px;
 padding-left: 15px;
}

.new-div p {
    text-align: center;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 20px;
}
.new-div i.fa-square-instagram{
    font-size: 35px;
    padding-left: 20px;
}